.description {
  font-size:20px;
  font-display: swap;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }